%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Dob:
  = @artist.dob
%p
  %b Label:
  = @artist.label

= link_to t('.edit'), edit_artist_path(@artist)
\|
= link_to t('.back'), artists_path

%p= link_to 'Add Album', new_album_path(artist_id: @artist)
