%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Dob:
  = @artist.dob
%p
  %b Label:
  = @artist.label

%p Albums:
%table
  %tbody
    - @artist.albums.each do |album|
      %tr{id: "album_#{album.id}"}
        %td= album.title
        %td= link_to t('show'), album
        %td= link_to t('edit'), edit_album_path(album)
        %td= link_to t('destroy'), album, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true
        
%p= link_to t('add_album'), new_album_path(artist_id: @artist)

= link_to t('edit'), edit_artist_path(@artist)
\|
= link_to t('back'), artists_path