%h1 Listing songs

%table
  %thead
    %tr
      %th Title
      %th Album
      %th Genre
      %th Length
      %th Single
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.album.title
        %td= song.genre
        %td= song.length
        %td= song.single
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

