%h1 Listing albums

%table
  %thead
    %tr
      %th Title
      %th Artist
      %th Year
      %th Length
      %th Tracks
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.title
        %td= album.artist.name
        %td= album.year
        %td= album.length
        %td= album.tracks
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

