%h1 Listing albums

%table
  %thead
    %tr
      %th Title
      %th Artist
      %th Year
      %th Length
      %th Tracks
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.title
        %td= album.artist.name
        %td= album.year
        %td= album.length
        %td= album.tracks
        %td= link_to t('show'), album
        %td= link_to t('edit'), edit_album_path(album)
        %td= link_to t('destroy'), album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

